.article {
    &-main-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem 1rem;
        gap: max(2rem, 2vw);

        @include respond(tablet) {
            grid-template-columns: 1fr;
            padding: 3rem 6rem;
        }
    }

    &__content {
        color: map-get($colours, grey-dark-1);
        max-height: 30rem;
        overflow-y: scroll;
    }

    &-interaction-wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.video {

    &-container {
        justify-self: end;
        height: 100%;
        aspect-ratio: 16/9;
    
        @include respond(tablet) {
            justify-self: center;
            aspect-ratio: 16 / 5;
            width: 100%;
        }
    
        @include respond(mobile) {
            aspect-ratio: 16 / 9;
        }
    }
    
    &-iframe {
        width: 100%;
        height: 100%;
    }
}

.suggest-topic {
    margin-top: 1rem;
    color: map-get($colours, primary);
    text-decoration: underline;
}