.inspect {
  &__section {
    position: relative;
    border-radius: map-get($border-radius, "lg");
    background-color: map-get($colours, "grey-light-4");
    height: 100%;
  }
}

.send-comment {
  width: 100%;
  position: absolute;
  bottom: 0;

  &__form {
    display: grid;
    grid-template-columns: 6fr 1fr;
    height: map-get($spacings, "semi-lg");
  }

  &__textbox {
    border-bottom-left-radius: map-get($border-radius, "lg");
    padding-inline: map-get($spacings, "xs");
    background-color: darken(map-get($colours, "grey-light-2"), 5%);
  }

  &__btn {
    display: grid;
    place-items: center;
    background-color: map-get($colours, "primary");
    color: map-get($colours, "light");
    border-bottom-right-radius: map-get($border-radius, "lg");
    transition: background-color 0.2s ease;
    font-size: map-get($font-sizes, "base");
    font-weight: 500;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: map-get($colours, "primary-light");
  }

  & input {
    outline: none;
    border: none;
  }
}

.idea-container {
  max-height: calc(100% - map-get($spacings, "semi-lg"));
  overflow-y: scroll;

  @include respond(desktop) {
    max-height: calc(66vh - map-get($spacings, "semi-lg"));
  }
}
