.leaderboard {
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: map-get($spacings, "md");
  grid-template-rows: 100%;
  gap: calc(map-get($spacings, "md") + 0.3rem);

  @include respond(desktop) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: calc(map-get($spacings, "sm") + 0.3rem);
  }
}

.summary {
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    map-get($colours, primary-light),
    map-get($colours, primary-dark)
  );
  border-radius: map-get($border-radius, "lg");
  padding: calc(map-get($spacings, "xxxl") + 0.4rem)
    calc(map-get($spacings, "md") + 0.3rem);
  display: flex;
  flex-direction: column;
  width: clamp(30rem, 25vw, 40rem);

  &__hashtags-container {
    position: relative;
    right: 0;
    bottom: 0;
    color: #eee;
    opacity: 0.8;
    font-weight: 400;
    font-size: map-get($font-sizes, "base");
    margin-bottom: map-get($spacings, "semi-sm");
    color: map-get($colours, "grey-light-1");
  }

  &__topic {
    color: map-get($colours, light);
    font-size: map-get($font-sizes, xxxl);
  }

  &__statistics {
    color: rgba(map-get($colours, "light"), 0.5);
    font-size: calc(map-get($font-sizes, "lg") + 0.2rem);

    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: calc(map-get($spacings, "sm") + 0.1rem);
    }
  }

  @include respond(desktop) {
    width: 100%;
    padding: map-get($spacings, "upper-md") map-get($spacings, "sm");
    text-align: center;
  }
}

.ranking {
  background-color: map-get($colours, "grey-light-4");
  border-radius: map-get($border-radius, "lg");
  height: min(100%, 54rem);

  @include respond(mobile) {
    height: 100%;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: calc(map-get($spacings, "semi-sm") + 0.1rem);
    align-items: center;

    @include respond(mobile) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__title {
    position: relative;
    color: map-get($colours, dark);
    font-size: map-get($font-sizes, xxl);
    font-weight: calc(map-get($font-weights, bold) - 100);
  }

  &__time-btn {
    font-size: map-get($font-sizes, base);
    color: map-get($colours, grey-dark-1);
    transition: all 0.2s;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 50%;
      width: 100%;
      height: 0.1rem;
      transform: translateX(-50%);
      background-color: #ccc;
    }
  }

  &__list {
    padding: calc(map-get($spacings, "semi-sm") + 0.1rem);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: calc(map-get($spacings, "semi-sm") + 0.1rem);
    margin-block-start: 0.5rem;
    height: 100%;

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: inherit;
    }
  }

  &__index {
    color: map-get($colours, "grey-light-1");
    background-color: map-get($colours, "grey-light-2");
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: map-get($spacings, "md");
    height: map-get($spacings, "md");
    margin-inline-end: calc(map-get($spacings, "sm") - 0.4rem);
  }

  &__username {
    font-size: map-get($font-sizes, xl);
    margin-inline-end: map-get($spacings, "xsm");
    color: map-get($colours, grey-dark-1);
  }
}

.suggestions {
  height: 100%;
  background-color: map-get($colours, "grey-light-4");
  padding: calc(map-get($spacings, "sm") - 0.4rem);
  border-radius: map-get($border-radius, "lg");
  color: map-get($colours, dark);

  &__list {
    margin-block-start: calc(map-get($spacings, "sm") + 0.1rem);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: calc(map-get($spacings, "xs") + 0.05rem);
  }

  &__link {
    text-decoration: none;
    color: map-get($colours, dark);
    font-weight: calc(map-get($font-weights, bold) - 100);
  }
}
