.profile {
  &-container {
    margin-top: 1rem;
    position: relative;
    grid-column: 1/3;
  }

  &-background-container {
    // position: relative;
    height: 25rem;
    width: 180rem;
    background-image: url(https://s3-alpha-sig.figma.com/img/c028/8cab/2006e150238f59820bcef8fd69a14b79?Expires=1681084800&Signature=iOkgTtPQrxg3BS4uQv0RDOODumhWHUHZjrY0B9N30ZBQPyph40NqIUaXP84hDhQlwjBco~dRyiUPH6qhl3vKsv3n73qWKm6Mp3xKB8RxAaT6YPKJltqGs-RUf00KXtr0DeX5RnjZTM5WOZqlaLfme~ehfrubT4bYpnzGp4JkhseeybwTNSY5LHkfFWiJvmUv8OyfHWY3xBUKgzn2N-boirIWflltmJTU5Zk~YOX0ob4FhkVmMkjvWus7KWL3DERRMQsYN0BL44BnC-uIfnasb8I-FJMBVaj4l0nn01N7hhXZzO7ydGeEkXQPxx8oqjBib0-g8FvP6wPjkRC9YV5Ogg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-position: rev;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &-information {
    color: #ffffff;
    max-width: 180rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #c74b55, #552878);
    padding: 1.5rem 0;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &-picture {
    width: 17.5rem;
    height: 17.5rem;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 3rem;
    bottom: 3rem;

    border-radius: 50%;

    & img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }
  }

  &-count {
    display: flex;
    gap: 2rem;
    margin-right: 1.5rem;
  }

  &-username {
    margin-left: 20rem;
    font-size: 5rem;
    font: bold;
  }

  &-count {
    font-size: 3rem;
    font: bold;
  }
}

.old-idea {
  &-container {
    width: 85rem;
    height: 39.5rem;
    background-color: #d9d9d9;

    border-radius: 1rem;
  }

  margin-top: 2rem;
  margin-left: 3rem;
  color: #686868;
  font-size: 3rem;
}

.statics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  &-container {
    max-width: 85rem;
  }

  &-heading {
    color: #686868;
    font-size: 3rem;
    margin-bottom: 1rem;

    text-decoration: underline;
  }

  .static {
    width: 20rem;
    height: 13.5rem;
    background-color: #d9d9d9;

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 1rem;

    &-amount {
      font-size: 3rem;
      color: #686868;
    }

    &-fire-svg {
      height: 8rem;
      width: 8rem;
      fill: #a42727;
    }

    &-pencil-svg {
      height: 8rem;
      width: 8rem;
      fill: #351964;
    }

    &-money-svg {
      height: 8rem;
      width: 8rem;
      stroke: #351964;
    }

    &-badge-svg {
      height: 8rem;
      width: 8rem;
      fill: #351964;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.achivments {
  width: 85rem;
  height: 18rem;
  background-color: #d9d9d9;

  border-radius: 1rem;
}

.profile-page-container {
  display: grid;

  justify-content: center;

  grid-template-rows: 34rem 1fr;
  grid-template-columns: 90rem 90rem;

  row-gap: 4rem;
  column-gap: 5rem;
}
