.shop {
  &-wrapper {
    text-align: center;
  }

  &-heading-section {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -1.25rem;
      left: 50%;
      width: 99vw;
      height: 0.1rem;
      transform: translateX(-50%);
      background-color: #ccc;
    }
  }

  &-heading {
    font-size: 5.2rem;
    color: #222;
    font-weight: 600;

    &-description {
      font-size: 2rem;
      color: #222;
    }
  }

  &-category-selector {
    display: flex;
    justify-content: center;
    gap: 12rem;

    margin-top: 1.8rem;
    margin-bottom: 1rem;

    &-button {
      color: #3d0046;
      font-weight: 600;
      text-decoration: none;

      &:active {
        border-bottom: currentColor 0.15rem solid;
      }
    }
  }

  &-items-section {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin-top: 4.8rem;
    width: 95vw;
    gap: 3.2rem;
    position: relative;
  }

  &-items-categories {
    // background-color: #74316f;
  }

  &-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 4.8rem;
  }

  &-product {
    background-color: hsl(0, 0%, 85%);
    text-align: left;
    border-radius: 0.3rem;
    overflow: hidden;

    &__content {
      padding: 0.8rem 1.2rem;
      text-align: left;

      &-title {
        font-size: 2.4rem;
        font-weight: 600;
      }

      &-description {
        //Empty
      }
    }

    &-image {
      max-width: 100%;
    }

    &-fee {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-price {
      font-size: 1.5rem;
      font-weight: 500;

      & span {
        font-weight: 400;
      }
    }

    &-button {
    }
  }
}

.shop-main {
  height: auto;
  position: relative;
  padding: 2.5rem 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
