.shop {
  &-wrapper {
    text-align: center;
  }

  &-heading-section {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1.25rem;
      left: 50%;
      width: 100%;
      height: 0.1rem;
      transform: translateX(-50%);
      background-color: #ccc;
    }
  }

  &-heading {
    font-size: 5.2rem;
    color: #222;
    font-weight: 600;

    &-description {
      font-size: 2rem;
      color: #222;
    }
  }

  &-category-selector {
    display: flex;
    justify-content: center;
    gap: 12rem;

    margin-top: 1.8rem;
    margin-bottom: 1rem;

    &-button {
      color: #3d0046;
      font-weight: 600;
      text-decoration: none;
      border-bottom: transparent 0.15rem solid;
      transition: all 0.2s ease;

      &:is(:hover, :active, :focus, .active) {
        border-bottom: currentColor 0.15rem solid;
      }
    }

    &:has(:hover) > *:not(:hover) {
      border-bottom-color: transparent;
    }
  }

  &-items-section {
    margin-top: 4.8rem;
    position: relative;
    display: block;

    & > * {
      &:not(:target) + *[data-default] {
        display: grid;
      }

      &:not(:target) {
        display: none;
      }
    }
  }

  &-themes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.6rem;
    margin: 0 auto;
  }

  &-theme {
    background-color: hsl(0, 0%, 85%);
    text-align: left;
    border-radius: 0.3rem;
    overflow: hidden;

    &__content {
      padding: 0.8rem 1.2rem;
      text-align: left;

      &-title {
        font-size: 2.4rem;
        font-weight: 600;
      }
    }

    &-image {
      max-width: 100%;
    }

    &-fee {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-price {
      font-size: 1.5rem;
      font-weight: 500;

      & span {
        font-weight: 400;
      }
    }
  }

  &-icons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* repeat(auto-fit, minmax(30rem, 1fr)) */
    gap: 3.5rem;
    padding: 0 5rem;
  }

  &-icon {

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: map-get($colours, grey-light-2);
      border-radius: 2.7rem;

      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
      }
      &__svg {
        width: 20rem;
        height: 20rem;
      }
      &__heading {
        text-align: left;
        flex-grow: 1;
        width: 100%;
        color: map-get($colours, grey-dark-2);
        font-size: 3rem;
        font-weight: 600;
      }
      &__text {
        text-align: left;
        color: map-get($colours, grey-dark-2);
      }
      &-button {
        padding: 2rem;
        border-radius: 0 0 3rem 3rem;
        background-color: map-get($colours, primary);
        width: 100%;
        font-size: 2.4rem;
        color: map-get($colours, light);
      }
    }

    &-list {
      display:flex;
      flex-direction: column;
      
      &__heading {
        text-align: left;
        color: map-get($colours, grey-dark-2);
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      &-item {
        &__heading {
          text-align: left;
          color: map-get($colours, grey-dark-2);
          font-size: 2rem;
          font-weight: 600;
        }

        &-content {
          display: flex;
          background-color: map-get($colours, grey-light-2);
          width: fit-content;
          border-radius: 2rem;
          overflow: hidden;
        }
  
        & {
          width: 6rem;
          height: 6rem;
          cursor: pointer;
        }
        
        &__svg {
          transition: all 0.2s ease;
        }

        &:hover {
          background-color: map-get($colours, grey-light-1);
        }
        
        &:hover &__svg {
          transform: translateY(-0.5rem);
        }
      }
    }

  }
}

.shop-main {
  height: auto;
  position: relative;
  padding: 2.5rem 4rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
