html.forest {
  .summary {
    font-size: 1.6rem;
    background-image: linear-gradient(
      to bottom right,
      map-get($colours-forest, primary-light-2),
      map-get($colours-forest, primary-dark)
    );
  }
  ::-webkit-scrollbar-thumb {
    background: map-get($colours-forest, primary);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: map-get($colours-forest, primary-light-2);
  }
  .publish-idea__btn {
    background-color: map-get($colours-forest, primary);
  }
  .publish-idea__btn:hover {
    background-color: map-get($colours-forest, primary-light);
  }
  .publish-idea__container {
    background-color: map-get($colours-forest, primary);
  }
  .publish-idea__submit {
    background-color: map-get($colours-forest, primary-light);
  }
  .btn--primary:link,
  .btn--primary:visited,
  .btn--primary {
    background-color: map-get($colours-forest, primary);
  }
  .footer__icon {
    color: map-get($colours-forest, primary);
  }
  .suggest-topic {
    color: map-get($colours-forest, primary);
  }
  .header__hamburger-menu,
  .header__hamburger-menu::before,
  .header__hamburger-menu::after {
    background-color: map-get($colours-forest, primary);
  }
  .footer__link {
    color: map-get($colours-forest, primary);
  }
  ::selection {
    background-color: map-get($colours-forest, primary-light-2);
  }
  a[aria-current="page"] .summary__navigation-icon use {
    color: map-get($colours-forest, primary);
  }
  .header__search {
    &-icon {
      color: map-get($colours-forest, primary);
    }
    &-box {
      background: linear-gradient(#fafafa, #fafafa) padding-box,
        map-get($colours-forest, primary) border-box;
    }
  }
  .idea__ {
    &administration-icon,
    &interaction-icon,
    &author {
      color: map-get($colours-forest, primary);
    }
  }
  .tooltip__icon {
    color: map-get($colours-forest, primary);
  }
  .tooltip__icon:hover {
    color: map-get($colours-forest, primary-light-2);
  }
  .edit-profile__save-btn {
    background-color: map-get($colours-forest, primary-light);
  }
  .send-comment__btn {
    background-color: map-get($colours-forest, primary-light);
  }
  .suggestions .heading-tertiary {
    color: map-get($colours-forest, primary-light);
  }
  .wrapper-center__countdown-menu__btn {
    color: map-get($colours-forest, primary);
  }
  .shop-category-selector-button {
    color: map-get($colours-forest, primary);
  }

  .section-about {
    // background-image: linear-gradient(
    //   to bottom right,
    //   map-get($colours-forest, primary-light-2),
    //   map-get($colours-forest, primary-dark)
    // );

    //FİX LATER

    &-heading {
      background-image: linear-gradient(
        to bottom right,
        map-get($colours-forest, primary-light-2),
        map-get($colours-forest, primary-dark)
      );
    }
  }
}
