// Path: sass\base\_typography.scss

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  color-scheme: light;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: map-get($colours, "grey-light-3");
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: map-get($colours, "primary");
  color: map-get($colours, "light");
}
