.footer {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;

  height: map-get($sizes, "footer-height");
  background-color: map-get($colours, "light");
  padding-inline: map-get($spacings, "base");

  @include respond(mobile) {
    flex-direction: column;
    gap: map-get($spacings, "xs");
    height: auto;

    padding-block: map-get($spacings, "semi-sm");
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  @include orientation(landscape) {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: map-get($spacings, "sm");
    height: 100%;

    &--main {
      justify-content: start;

      @include respond(sm-mobile) {
        display: none;
      }
    }

    &--icons {
      gap: map-get($spacings, "xs");
      justify-content: end;
    }
  }

  &__link {
    position: relative;
    color: map-get($colours, "primary");
    transition: all 0.25s ease;
    max-height: map-get($font-sizes, "lg");

    &:hover,
    &:active {
      color: map-get($colours, "primary-light");

      &:not(:has(.footer__icon))::after {
        background-color: map-get($colours, "primary-light");
      }

      .footer__icon {
        color: map-get($colours, "primary-light");
      }
    }

    &:not(:has(.footer__icon))::after {
      content: "";
      position: absolute;
      bottom: 0.2rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: transparent;
      transition: all 0.25s ease;
    }
  }

  &__icon {
    font-size: map-get($font-sizes, "lg");
    color: map-get($colours, "primary");
  }
}
