// Path: sass\layout\_header.scss

.header {
  height: map-get($sizes, "navbar-height");
  padding-inline: map-get($spacings, "md");
  background-color: map-get($colours, "light");
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__start {
    display: flex;
    align-items: center;
    gap: map-get($spacings, "upper-md");
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__hamburger-menu {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: map-get($spacings, "semi-lg");
      height: 0.7rem;
      background-color: map-get($colours, "primary");
      border-radius: map-get($border-radius, "lg");
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s ease;
    }

    &::before {
      top: -1.3rem;
    }

    &::after {
      bottom: -1.3rem;
    }

    &:hover {
      &::before {
        transform: translateY(-0.15rem);
      }

      &::after {
        transform: translateY(0.15rem);
      }
    }
  }

  &__search {
    &-box {
      width: clamp(60rem, 45vw, 80rem);
      height: map-get($spacings, "lg");
      background: linear-gradient(
            map-get($colours, "light"),
            map-get($colours, "light")
          )
          padding-box,
        map-get($colours, "primary-dark") border-box;
      border-radius: 1rem;
      border: 0.3rem solid transparent;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      gap: 1.5rem;
      color: inherit;
      font: inherit;
    }

    &-input {
      background: none;
      color: map-get($colours, "dark");
      font-size: 1.8rem;
      font-weight: 500;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }

    &-icon {
      font-size: map-get($font-sizes, "xxl");
      color: map-get($colours, "primary-dark");
      transform: scaleX(-1);
    }
  }
}
