.header {
  width: 100%;
  height: 10rem;
  padding: 0 2.88rem;
  background-color: map-get($colours, "light");
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo{
  width: 100%;
}

.header__logo-source{
  color: map-get($colours, primary);
  width: 100%;
}

.header__header-start {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__hamburger-menu,
.header__hamburger-menu::before,
.header__hamburger-menu::after {
  position: relative;
  display: inline-block;
  width: 4.5rem;
  height: 0.7rem;
  background-color: map-get($colours, primary);
  border-radius: 1rem;
  transition: all 0.2s ease;
}

.header__hamburger-menu::before,
.header__hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
}

.header__hamburger-menu::before {
  top: -1.3rem;
}

.header__hamburger-menu::after {
  bottom: -1.3rem;
}

.header__search-box {
  width: clamp(60rem, 45vw, 80rem);
  height: 5.5rem;
  background-color: map-get($colours, light);
  border-radius: 1rem;
  border: 0.3rem solid map-get($colours, dark);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;
  color: inherit;
  font: inherit;
}

.header__search-input {
  background: none;
  border: none;
  color: map-get($colours, dark);
  font-size: map-get($font-sizes, lg);
  width: 100%;
  height: 100%;
  outline: none;
}

.header__header-end {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__notifications-btn {
  color: map-get($colours, primary);
  font-size: map-get($font-sizes, xxl);
}

.header__login-btn,
.header__login-btn:link,
.header__login-btn:visited {
  background-color: map-get($colours, primary-light);
}

.header__login-btn:hover,
.header__login-btn:active {
  background-color: map-get($colours, primary-light);
}

.header__login-btn,
.header__login-btn:link,
.header__login-btn:visited {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: map-get($colours, light);
}
