// Path: sass\layout\_header.scss

.header {
  position: relative;
  height: map-get($sizes, "navbar-height");
  padding-inline: map-get($spacings, "upper-md");
  background-color: map-get($colours, "light");
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: map-get($colours, grey-dark-1) 0.2rem solid;
  z-index: 2;

  &__sidebar {
    position: absolute;
    top: map-get($sizes, navbar-height);
    left: 0;
    width: 0;
    height: calc(100vh - map-get($sizes, navbar-height));
    z-index: -1;
    transition: all 0.5s ease;
    background-color: map-get($colours, light);
    gap: 5rem;

    &__top {
      display: none;

      &__profile-photo {
        display: grid;
        place-items: center;
        background-color: map-get($colours, grey-light-2);
        width: 13rem;
        height: 13rem;
        aspect-ratio: 1/1;
        border-radius: 100vmax;

        &__src {
          width: min(10rem, 100%);
          height: min(10rem, 100%);
          aspect-ratio: 1/1;
        }
      }
    }

    &__bottom {
      &__list {
        display: none;
      }
    }
  }

  &__sidebar.active {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .header__sidebar__top {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding-block: 3rem;
      border-bottom: 0.2rem rgba(map-get($colours, dark), 0.5) solid;

      &__user-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__username {
          color: #686886;
          font-size: map-get($font-sizes, xl);
        }

        &__stats {
          color: rgba(104, 104, 134, 0.5);
          font-size: map-get($font-sizes, lg);
        }

        &__log-out {
          color: #686868;
          font-weight: map-get($font-weights, medium);
          text-decoration: underline;
        }
      }
    }

    .header__sidebar__bottom {
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 6rem;

        &-link {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: 5rem;
          font-size: map-get($font-sizes, lg);
          color: map-get($colours, grey-dark-1);
          font-weight: map-get($font-weights, medium);
          letter-spacing: 0.65px;

          &__icon {
            font-size: calc(map-get($font-sizes, xxl) - 0.2rem);
          }
        }
      }
    }
  }

  &__start {
    display: flex;
    align-items: center;
    gap: map-get($spacings, "upper-md");

    @include respond(mobile) {
      justify-content: space-between;
      gap: 0;
      width: 100%;
    }
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include respond(mobile) {
      display: none;
    }
  }

  &__hamburger-btn:hover &__hamburger-menu {
    &::before {
      transform: translateY(-0.15rem);
    }

    &::after {
      transform: translateY(0.15rem);
    }
  }

  &__hamburger-btn:is(:active, :focus) &__hamburger-menu {
    background-color: transparent;

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
    }
  }

  &__hamburger-menu {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: map-get($spacings, "semi-lg");
      height: 0.7rem;
      background-color: map-get($colours, "primary");
      border-radius: map-get($border-radius, "lg");
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }

    &::before {
      top: -1.3rem;
    }

    &::after {
      bottom: -1.3rem;
    }
  }

  &__search {
    &-box {
      width: clamp(60rem, 45vw, 80rem);
      height: map-get($spacings, "lg");
      background: linear-gradient(
            map-get($colours, "light"),
            map-get($colours, "light")
          )
          padding-box,
        map-get($colours, "primary-dark") border-box;
      border-radius: 1rem;
      border: 0.3rem solid transparent;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      gap: 1.5rem;
      color: inherit;
      font: inherit;

      @include respond(desktop) {
        display: none;
      }
    }

    &-input {
      background: none;
      color: map-get($colours, "dark");
      font-size: 1.8rem;
      font-weight: 500;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }

    &-icon {
      font-size: map-get($font-sizes, "xxl");
      color: map-get($colours, "primary-dark");
      transform: scaleX(-1);
    }
  }

  &__logo a {
    transition: all 0.25s ease;

    @include respond(mobile) {
      max-width: 55%;
      float: right;
    }

    @include respond(sm-mobile) {
      max-width: 65%;
    }

    &:hover {
      transform: translateY(-0.25rem);
    }
  }
}
