// Path: sass\abstracts\_mixins.scss

@mixin abs-center($direction) {
  position: absolute;

  @if ($direction == "vertical") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($direction == "horizontal") {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* MEDIA QUERY MANAGER

1600px: md-desktop = 100em
1300px: desktop = 81.25em
650px: mobile = 40.625em
300px: sm-mobile = 18.75em
*/

@mixin respond($device) {
  @if ($device == desktop) {
    @media only screen and (max-width: map-get($breakpoints, "desktop")) {
      @content;
    }
  } @else if ($device == mobile) {
    @media only screen and (max-width: map-get($breakpoints, "mobile")) {
      @content;
    }
  } @else if ($device == sm-mobile) {
    @media only screen and (max-width: map-get($breakpoints, "sm-mobile")) {
      @content;
    }
  } @else if($device == xs-mobile) {
    @media only screen and (max-width: map-get($breakpoints, "xs-mobile")) {
      @content;
    }
  } @else if($device == md-desktop) {
    @media only screen and (max-width: map-get($breakpoints, "md-desktop")) {
      @content;
    }
  } @else if($device == tablet) {
    @media only screen and (max-width: map-get($breakpoints, "tablet")) {
      @content;
    }
  }
}
