// Path: sass\abstracts\_mixins.scss

@mixin abs-center($direction) {
  position: absolute;

  @if ($direction == "vertical") {
    top: 50%;
    transform: translateY(-50%);
  } @else if ($direction == "horizontal") {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin create-seperator($direction) {
  position: relative;

  &:nth-of-type(even)::after,
  &:nth-of-type(n + 3)::before {
    content: "";
    background-color: map-get($colours, "primary");
  }

  &:nth-of-type(even)::after {
    @include abs-center(vertical);
    left: -2.15rem; // Some weird math went on here. :)
    height: 50%;
    width: 0.2rem;
  }

  &:nth-of-type(n + 3)::before {
    @include abs-center(horizontal);
    top: -2.15rem; // Some weird math went on here too. :)
    width: 75%;
    height: 0.2rem;
  }
}

/* MEDIA QUERY MANAGER

1600px: md-desktop = 100em
1300px: desktop = 81.25em
1050px: tablet = 65.625em
750px: portrait tablet = 46.875em
650px: mobile = 40.625em
300px: sm-mobile = 18.75em
*/

@mixin respond($device) {
  @if ($device == desktop) {
    @media only screen and (max-width: map-get($breakpoints, "desktop")) {
      @content;
    }
  } @else if ($device == mobile) {
    @media only screen and (max-width: map-get($breakpoints, "mobile")) {
      @content;
    }
  } @else if ($device == sm-mobile) {
    @media only screen and (max-width: map-get($breakpoints, "sm-mobile")) {
      @content;
    }
  } @else if($device == xs-mobile) {
    @media only screen and (max-width: map-get($breakpoints, "xs-mobile")) {
      @content;
    }
  } @else if($device == md-desktop) {
    @media only screen and (max-width: map-get($breakpoints, "md-desktop")) {
      @content;
    }
  } @else if($device == tablet) {
    @media only screen and (max-width: map-get($breakpoints, "tablet")) {
      @content;
    }
  } @else if($device == tablet-portrait) {
    @media only screen and (max-width: map-get($breakpoints, "tablet-portrait")) {
      @content;
    }
  } @else if($device == landscape) {
    @media only screen and (min-width: map-get(map-get($breakpoints, "landscape"), "min-width")) and (max-height: map-get(map-get($breakpoints, "landscape"), "max-height")) {
      @content;
    }
  } @else if($device == landscape-and-mobile) {
    @media only screen and (min-width: map-get(map-get($breakpoints, "landscape"), "min-width")) and (max-height: map-get(map-get($breakpoints, "landscape"), "max-height")),
      only screen and (max-width: map-get($breakpoints, "mobile")) {
      @content;
    }
  }
}

@mixin orientation($orientation) {
  @if ($orientation == portrait) {
    @media only screen and (orientation: portrait) {
      @content;
    }
  } @else if ($orientation == landscape) {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
}
