// Path: sass\abstracts\_variables.scss

$colours: (
  "primary-soft": #b35159,
  "primary-light": #5a2a76,
  "primary-light-2": #5c346b,
  "primary-dark": #400556,
  "primary": #4e1c60,

  "light": #fafafa,
  "dark": #222,

  "grey-light-1": #b3b3b3,
  "grey-light-2": #d9d9d9,
  "grey-light-3": #e3e3e3,
  "grey-light-4": #f0f0f0,
  "grey-light-5": #fafafa,
  "grey-dark-1": #777,
  "grey-dark-2": #555,
  "grey-dark-3": #444,
  "grey-dark-4": #333,

  "success": #5cb85c,
  "info": #5bc0de,
  "warning": #f0ad4e,
  "danger": #d9534f,
);

$colours-sand: (
  "primary-soft": #EDD7D1,
  "primary-light": #d14a47,
  "primary-light-2": #DB7439,
  "primary-dark": #C83232,
  "primary": #C93432,
);

$fonts: (
  "primary": "Montserrat",
);

$font-sizes: (
  "xs": 1.2rem,
  "sm": 1.4rem,
  "base": 1.6rem,
  "lg": 2rem,
  "xl": 2.4rem,
  "xxl": 3.2rem,
  "xxxl": 3.6rem,
  "xxxxl": 8.6rem,
);

$font-weights: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "bold": 700,
);

$border-radius: (
  "sm": 0.32rem,
  "base": 0.64rem,
  "lg": 1.1rem,
);

$shadows: (
  "light": 0 0.1rem 0.3rem rgba(map-get($colours, "grey-dark-1"), 0.12),
  "default": 0 0.2rem 0.5rem rgba(map-get($colours, "grey-dark-2"), 0.12),
  "dark": 0 0.5rem 1rem rgba(map-get($colours, "grey-dark-3"), 0.12),
);

$breakpoints: (
  "bg-desktop": 110em,
  // 1760 px,
  "md-desktop": 100em,
  // 1600 px,
  "desktop": 90em,
  // 1440 px,
  "tablet": 65.625em,
  // 1050 px,
  "tablet-portrait": 46.875em,
  // 750 px
  "mobile": 40.625em,
  // 650 px
  "sm-mobile": 18.75em,
  // 300 px
  "xs-mobile": 12.5em,
  // 200 px
  "landscape":
    (
      min-width: 40.625em,
      max-height: 31.25em,
    ),
);

$grid: (
  "columns": 12,
  "gutter-horizontal": 1.6rem,
  "gutter-vertical": 2rem,
);

$sizes: (
  "navbar-height": clamp(10rem, 10vh, 11.7rem),
  "footer-height": clamp(4.25rem, 5vh, 5rem),
);

$spacings: (
  "xs": 1.2rem,
  "semi-sm": 1.5rem,
  "sm": 2.4rem,
  "base": 3rem,
  "md": 3.2rem,
  "upper-md": 4rem,
  "semi-lg": 4.5rem,
  "lg": 5.4rem,
  "xl": 6.4rem,
  "xxl": 7.2rem,
  "xxxl": 9.6rem,
);
