// Path: sass\components\_buttons.scss

.btn {
  display: inline-block;
  position: relative;
  padding: map-get($spacings, "semi-sm") map-get($spacings, "base");
  font-size: map-get($font-sizes, "lg");
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: map-get($shadows, "default");
  letter-spacing: 0.5px;
  border-radius: map-get($border-radius, "lg");
  transition: all 0.2s ease;

  &--primary {
    &:link,
    &:visited,
    & {
      background-color: map-get($colours, "primary");
      color: map-get($colours, "light");
    }

    &:hover,
    &:active {
      background-color: map-get($colours, "primary-light");
    }
  }

  &--secondary {
    &:link,
    &:visited,
    & {
      background-color: map-get($colours, "light");
      color: map-get($colours, "primary");
    }

    &:not(:is(.btn--animated)) {
      &:hover {
        background-color: map-get($colours, "grey-light-4");
        transform: translateY(-0.4rem);
        box-shadow: map-get($shadows, "lg");
      }

      &:active {
        background-color: map-get($colours, "grey-light-3");
        transform: translateY(-0.2rem);
        box-shadow: map-get($shadows, "default");
      }
    }

    &:is(.btn--animate) {
      &:hover,
      &:active {
        &::after {
          transform: scale(1.5);
          opacity: 0;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @extend .btn;
        @extend .btn--secondary;

        z-index: -1;
        transition: all 0.4s ease;
      }
    }
  }
}
