.summary {
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    map-get($colours, primary-light-2),
    map-get($colours, primary-dark)
  );
  border-radius: map-get($border-radius, "lg");
  padding: calc(map-get($spacings, "xxxl") + 0.4rem)
    calc(map-get($spacings, "md") + 0.3rem);
  display: flex;
  flex-direction: column;
  width: clamp(30rem, 25vw, 40rem);
  color: #eee;

  &__hashtags-container {
    position: relative;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    font-weight: 400;
    font-size: map-get($font-sizes, "base");
    margin-bottom: map-get($spacings, "semi-sm");
  }

  &__topic {
    color: map-get($colours, light);
    font-size: map-get($font-sizes, xxxl);
    letter-spacing: 0.11rem;
  }

  &__statistics {
    color: rgba(map-get($colours, "light"), 0.5);
    font-size: calc(map-get($font-sizes, "lg") + 0.2rem);

    &-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: calc(map-get($spacings, "sm") + 0.1rem);
    }
  }

  &--topic-info {
    background-image: unset;
    height: min-content;
  }

  &--topic-info &__statistics-container,
  &--index &__statistics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
  }

  &--topic-info &__statistics {
    font-size: 1.6rem;
  }

  &--topic-info &__hashtags-container {
    margin-bottom: 1rem;
  }

  &--index {
    position: relative;
    width: 100%;
    padding: unset;
    align-items: center;
    justify-content: center;
  }

  &--index &__hashtags-container {
    position: absolute;
    margin-bottom: 0;
    bottom: 2rem;
    right: 2rem;
    font-size: 2.4rem;
  }

  &--index &__topic {
    font-size: 5rem;
  }

  &--index &__statistics-container {
    gap: 3rem;
    margin-top: 2.4rem;
  }

  &--index &__statistics {
    font-size: 3rem;
  }

  &--index &__navigation {
    margin-top: min(5.8rem, 10vmax);
    text-align: center;

    &-list {
      display: flex;
      gap: min(13rem, 20vmax);
    }

    &-icon {
      font-size: 7.6rem;
      background-color: rgba(#000, 0.1);
      border-radius: 50%;
      padding: 1.3rem;
    }

    &-label {
      font-size: 2rem;
    }

    &-middle {
      display: flex;
      gap: 1.7rem;
      background-color: rgba(148, 137, 143, 0.3);
      border-radius: 100vmax;
    }

    &-middle .summary__navigation-icon {
      background-color: transparent;
      padding: 1.4rem;
    }

    &-link[aria-current="page"] .summary__navigation-icon {
      color: map-get($colours, "primary");
      background-color: map-get($colours, "light");
    }

    &-middle
      .summary__navigation-item:has(
        .summary__navigation-link[aria-current="page"]
      ) {
      position: relative;
      isolation: isolate;

      &::after {
        content: "";
        position: absolute;
        left: -1.8rem;
        top: -1.6rem;

        width: max(11.2rem, 100%);
        height: max(11.2rem, 100%);
        background-color: map-get($colours, "light");
        border-radius: 50%;
        z-index: -1;
      }

      & .summary__navigation-icon {
        background-color: transparent;
        padding: 0.5rem;
      }
    }
  }

  @include respond(desktop) {
    width: 100%;
    padding: map-get($spacings, "upper-md") map-get($spacings, "sm");
    text-align: center;
  }
}
