@charset "UTF-8";
/*
Project: Justhink
Author:  Justhink Software Development Team
Version: 1.0

This Copyright Legal Text (the "Agreement") is made and entered into on 2.12.2023 by Justhink company, (hereinafter referred to as "Justhink" or the "Company"), and Furkan Esen, Emir Ayaz, Eray Güleşen, Mert Kozanoğlu, Oğulcan Öztürk, Ahmet Çağlar, (hereinafter referred to as the "Creators").

The purpose of this Agreement is to protect the proprietary rights of Justhink in the software that has been created by the Creators (the "Software"). The Software is a valuable, confidential, and proprietary asset of Justhink and is protected by copyright law.

The Creators hereby acknowledge that the Software is the sole and exclusive property of Justhink and that the Creators have no right, title or interest in or to the Software except as expressly set forth in this Agreement. The Creators shall not copy, publish, distribute, or otherwise use the Software except as specifically authorized by Justhink in writing.

The Creators agree to hold the Software in confidence and to take all reasonable steps to protect the confidential information of Justhink, including but not limited to, using at least the same degree of care as the Creators use to protect their own confidential information of like importance, but in no event using less than a reasonable degree of care.

This Agreement shall be binding upon the Creators and their respective successors, assigns, and legal representatives. The Creators may not assign their rights or delegate their duties under this Agreement without the prior written consent of Justhink.

Justhink shall have the right to terminate this Agreement at any time if the Creators breach any of the provisions of this Agreement. Upon termination, the Creators shall immediately return all confidential information of Justhink, including all copies of the Software.

IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first written above.

Furkan Esen, Emir Ayaz, Eray Güleşen, Mert Kozanoğlu, Oğulcan Öztürk, Ahmet Çağlar

Justhink

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color-scheme: light;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100vh;
  background-color: #e3e3e3;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: #4e1c60;
  color: #fafafa;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0.2rem 0.5rem rgba(68, 68, 68, 0.12);
  letter-spacing: 0.5px;
  border-radius: 1.1rem;
  transition: all 0.2s ease;
}
.btn--primary:link, .btn--primary:visited {
  background-color: #4e1c60;
  color: #fafafa;
}
.btn--primary:hover, .btn--primary:active {
  background-color: #5a2a76;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  height: clamp(10rem, 10vh, 11.7rem);
  padding-inline: 3.2rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__start {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header__end {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header__hamburger-menu {
  position: relative;
}
.header__hamburger-menu, .header__hamburger-menu::before, .header__hamburger-menu::after {
  display: inline-block;
  width: 4.5rem;
  height: 0.7rem;
  background-color: #4e1c60;
  border-radius: 1.1rem;
}
.header__hamburger-menu::before, .header__hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}
.header__hamburger-menu::before {
  top: -1.3rem;
}
.header__hamburger-menu::after {
  bottom: -1.3rem;
}
.header__hamburger-menu:hover::before {
  transform: translateY(-0.15rem);
}
.header__hamburger-menu:hover::after {
  transform: translateY(0.15rem);
}
.header__search-box {
  width: clamp(60rem, 45vw, 80rem);
  height: 5.4rem;
  background: linear-gradient(#fafafa, #fafafa) padding-box, #400556 border-box;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;
  color: inherit;
  font: inherit;
}
.header__search-input {
  background: none;
  color: #222;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.header__search-icon {
  font-size: 3.2rem;
  color: #400556;
  transform: scaleX(-1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.25rem;
  background-color: #fafafa;
  padding-inline: 3rem;
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  height: 100%;
}
.footer__nav--main {
  justify-content: start;
}
.footer__nav--icons {
  gap: 1.2rem;
  justify-content: end;
}
.footer__link {
  position: relative;
  color: #4e1c60;
  transition: all 0.25s ease;
}
.footer__link:hover, .footer__link:active {
  color: #5a2a76;
}
.footer__link:hover:not(:has(.footer__icon))::after, .footer__link:active:not(:has(.footer__icon))::after {
  background-color: #5a2a76;
}
.footer__link:hover .footer__icon, .footer__link:active .footer__icon {
  color: #5a2a76;
}
.footer__link::after {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: transparent;
  transition: all 0.25s ease;
}
.footer__icon {
  font-size: 2rem;
  color: #4e1c60;
}
