@charset "UTF-8";
/*
Project: Justhink
Author:  Justhink Software Development Team
Version: 1.0

This Copyright Legal Text (the "Agreement") is made and entered into on 2.12.2023 by Justhink company, (hereinafter referred to as "Justhink" or the "Company"), and Furkan Esen, Emir Ayaz, Ferhat Ege Orhan, Halit Hamza Şeker, Mert Kozanoğlu, Oğulcan Öztürk, Ahmet Çağlar, (hereinafter referred to as the "Creators").

The purpose of this Agreement is to protect the proprietary rights of Justhink in the software that has been created by the Creators (the "Software"). The Software is a valuable, confidential, and proprietary asset of Justhink and is protected by copyright law.

The Creators hereby acknowledge that the Software is the sole and exclusive property of Justhink and that the Creators have no right, title or interest in or to the Software except as expressly set forth in this Agreement. The Creators shall not copy, publish, distribute, or otherwise use the Software except as specifically authorized by Justhink in writing.

The Creators agree to hold the Software in confidence and to take all reasonable steps to protect the confidential information of Justhink, including but not limited to, using at least the same degree of care as the Creators use to protect their own confidential information of like importance, but in no event using less than a reasonable degree of care.

This Agreement shall be binding upon the Creators and their respective successors, assigns, and legal representatives. The Creators may not assign their rights or delegate their duties under this Agreement without the prior written consent of Justhink.

Justhink shall have the right to terminate this Agreement at any time if the Creators breach any of the provisions of this Agreement. Upon termination, the Creators shall immediately return all confidential information of Justhink, including all copies of the Software.

IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first written above.

Furkan Esen, Emir Ayaz, Ferhat Ege Orhan, Halit Hamza Şeker, Mert Kozanoğlu, Oğulcan Öztürk, Ahmet Çağlar

Justhink

*/
/* MEDIA QUERY MANAGER

1300px: desktop = 81.25em
650px: mobile = 40.625em
300px: sm-mobile = 18.75em
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  color-scheme: light;
}
@media only screen and (max-width: 81.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 40.625em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 18.75em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 12.5em) {
  html {
    font-size: 31.25%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: #e3e3e3;
}

img,
picture,
svg,
video,
source {
  display: block;
  max-width: 100%;
}

a,
abbr {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: #4e1c60;
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f7f1fa;
}

::-webkit-scrollbar-thumb {
  background: #683189;
  border-radius: 10px;
  transition: background 0.15s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #713594;
}

.heading-tertiary {
  color: #4e1c60;
  font-size: 2rem;
  font-weight: 600;
}

.btn, .btn--secondary:is(.btn--animate)::after {
  display: inline-block;
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 0.2rem 0.5rem rgba(85, 85, 85, 0.12);
  letter-spacing: 0.5px;
  border-radius: 1.1rem;
  transition: all 0.2s ease;
}
.btn--primary:link, .btn--primary:visited, .btn--primary {
  background-color: #4e1c60;
  color: #fafafa;
}
.btn--primary:hover, .btn--primary:active {
  background-color: #5a2a76;
}
.btn--secondary:link, .btn--secondary:visited, .btn--secondary, .btn--secondary:is(.btn--animate)::after {
  background-color: #fafafa;
  color: #4e1c60;
}
.btn--secondary:not(:is(.btn--animated)):hover, .btn--secondary:not(:is(.btn--animated)):hover:is(.btn--animate)::after {
  background-color: #f0f0f0;
  transform: translateY(-0.4rem);
}
.btn--secondary:not(:is(.btn--animated)):active, .btn--secondary:not(:is(.btn--animated)):active:is(.btn--animate)::after {
  background-color: #e3e3e3;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.2rem 0.5rem rgba(85, 85, 85, 0.12);
}
.btn--secondary:is(.btn--animate):hover::after, .btn--secondary:is(.btn--animate):active::after {
  transform: scale(1.5);
  opacity: 0;
}
.btn--secondary:is(.btn--animate)::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s ease;
}

.publish-idea-btn {
  display: block;
  position: absolute;
  z-index: 1;
  right: 2rem;
  bottom: 7rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #f5f5f5;
  padding: 1.5rem;
  background-color: #4d1a5f;
  border-radius: 50%;
}
.publish-idea-btn:hover {
  background-color: #5a2a76;
}
.publish-idea-svg-add {
  display: none;
  font-size: 7rem;
}
.publish-idea-temp-div {
  height: 70px;
  width: 70px;
}
.publish-idea-container {
  padding: 4rem;
  border-radius: 1.1rem;
  position: fixed;
  right: 8rem;
  bottom: 12rem;
  background-color: #6b3f84;
  color: #eee;
}
.publish-idea-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.publish-idea__input-label {
  color: #efeefe;
}
.publish-idea__textarea {
  padding: 0.5rem;
  background: none;
  outline: none;
  color: #eee;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #6b3f84;
}
.publish-idea__textarea::-webkit-input-placeholder {
  color: #fff;
}
.publish-idea-submit {
  background-color: #5a2a76;
  color: #eee;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3.3px;
  transition: background-color 0.15s ease;
  font: inherit;
}
.publish-idea-submit:hover {
  background-color: #7a5290;
}

.summary {
  height: 100%;
  background-image: linear-gradient(to bottom right, #5a2a76, #400556);
  border-radius: 1.1rem;
  padding: 10rem 3.5rem;
  display: flex;
  flex-direction: column;
  width: clamp(30rem, 25vw, 40rem);
}
.summary__hashtags-container {
  position: relative;
  right: 0;
  bottom: 0;
  color: #eee;
  opacity: 0.8;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #b3b3b3;
}
.summary__topic {
  color: #fafafa;
  font-size: 3.6rem;
}
.summary__statistics {
  color: rgba(250, 250, 250, 0.5);
  font-size: 2.2rem;
}
.summary__statistics-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
@media only screen and (max-width: 81.25em) {
  .summary {
    width: 100%;
    padding: 4rem 2.4rem;
    text-align: center;
  }
}

.suggestions {
  height: 100%;
  background-color: #f0f0f0;
  padding: 2rem;
  border-radius: 1.1rem;
  color: #222;
}
.suggestions__list {
  margin-block-start: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.suggestions__link {
  text-decoration: none;
  color: #222;
  font-weight: 600;
}

.idea {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  position: relative;
  padding: 3rem 2rem;
  gap: 2rem;
}
.idea--comment {
  padding-top: 0;
}
.idea__content {
  margin-top: 2.5rem;
}
.idea__author {
  color: #400556;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.idea__text {
  font-size: 1.8rem;
  color: #777;
  font-weight: 400;
  hyphens: auto;
}
.idea__interactions {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  position: relative;
}
.idea:not(:last-child) .idea__interactions::after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  height: 0.2rem;
}
.idea:not(.idea--comment) .idea__interactions::after {
  width: 100%;
  background-color: #4e1c60;
}
.idea--comment .idea__interactions::after {
  width: 50%;
  background-color: #222;
}
.idea__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}
.idea__interaction-icon {
  color: #400556;
  font-size: 4.5rem;
  transition: all 0.2s ease;
}
.idea__interaction-icon:hover {
  color: #5a2a76;
}
.idea__counter {
  font-size: 2rem;
  color: #400556;
}
.idea__administration-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.2rem;
  display: flex;
  gap: 1.2rem;
  z-index: 1;
}
.idea__administration-menu a {
  cursor: pointer;
}
.idea__administration-icon {
  color: #400556;
  transition: color 0.2s ease;
}
.idea__administration-icon:hover {
  color: #5a2a76;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.grid-col-3 {
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 3.2rem;
  grid-template-rows: 100%;
  gap: 3.5rem;
}
.grid-col-3--adapt {
  height: max(100vh - (clamp(10rem, 10vh, 11.7rem) + clamp(4.25rem, 5vh, 5rem)), 40rem);
}
@media only screen and (max-width: 81.25em) {
  .grid-col-3--adapt {
    height: auto;
    grid-template-rows: auto 1fr auto !important;
    align-content: start;
  }
  .grid-col-3--adapt > *:nth-child(2) {
    height: 66vh;
  }
}
@media only screen and (max-width: 81.25em) {
  .grid-col-3 {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2.7rem;
  }
}

.header {
  height: clamp(10rem, 10vh, 11.7rem);
  padding-inline: 3.2rem;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #777 0.2rem solid;
}
.header__start {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media only screen and (max-width: 40.625em) {
  .header__start {
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}
.header__end {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 40.625em) {
  .header__end {
    display: none;
  }
}
.header__hamburger-menu {
  position: relative;
}
.header__hamburger-menu, .header__hamburger-menu::before, .header__hamburger-menu::after {
  display: inline-block;
  width: 4.5rem;
  height: 0.7rem;
  background-color: #4e1c60;
  border-radius: 1.1rem;
}
.header__hamburger-menu::before, .header__hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}
.header__hamburger-menu::before {
  top: -1.3rem;
}
.header__hamburger-menu::after {
  bottom: -1.3rem;
}
.header__hamburger-menu:hover::before {
  transform: translateY(-0.15rem);
}
.header__hamburger-menu:hover::after {
  transform: translateY(0.15rem);
}
.header__search-box {
  width: clamp(60rem, 45vw, 80rem);
  height: 5.4rem;
  background: linear-gradient(#fafafa, #fafafa) padding-box, #400556 border-box;
  border-radius: 1rem;
  border: 0.3rem solid transparent;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;
  color: inherit;
  font: inherit;
}
@media only screen and (max-width: 81.25em) {
  .header__search-box {
    display: none;
  }
}
.header__search-input {
  background: none;
  color: #222;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.header__search-icon {
  font-size: 3.2rem;
  color: #400556;
  transform: scaleX(-1);
}
@media only screen and (max-width: 40.625em) {
  .header__logo-img {
    max-width: 75%;
    float: right;
  }
}
@media only screen and (max-width: 18.75em) {
  .header__logo-img {
    max-width: 65%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(4.25rem, 5vh, 5rem);
  background-color: #fafafa;
  padding-inline: 3rem;
}
@media only screen and (max-width: 40.625em) {
  .footer {
    flex-direction: column;
    gap: 1.2rem;
    height: auto;
    padding-block: 1.5rem;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  height: 100%;
}
.footer__nav--main {
  justify-content: start;
}
@media only screen and (max-width: 18.75em) {
  .footer__nav--main {
    display: none;
  }
}
.footer__nav--icons {
  gap: 1.2rem;
  justify-content: end;
}
.footer__link {
  position: relative;
  color: #4e1c60;
  transition: all 0.25s ease;
  max-height: 2rem;
}
.footer__link:hover, .footer__link:active {
  color: #5a2a76;
}
.footer__link:hover:not(:has(.footer__icon))::after, .footer__link:active:not(:has(.footer__icon))::after {
  background-color: #5a2a76;
}
.footer__link:hover .footer__icon, .footer__link:active .footer__icon {
  color: #5a2a76;
}
.footer__link:not(:has(.footer__icon))::after {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: transparent;
  transition: all 0.25s ease;
}
.footer__icon {
  font-size: 2rem;
  color: #4e1c60;
}

.ranking {
  background-color: #f0f0f0;
  border-radius: 1.1rem;
  height: min(100%, 54rem);
}
@media only screen and (max-width: 40.625em) {
  .ranking {
    height: 100%;
  }
}
.ranking__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.6rem;
  align-items: center;
}
@media only screen and (max-width: 40.625em) {
  .ranking__header {
    flex-direction: column;
    align-items: start;
  }
}
.ranking__title {
  position: relative;
  color: #222;
  font-size: 3.2rem;
  font-weight: 600;
}
.ranking__time-btn {
  font-size: 1.6rem;
  color: #777;
  transition: all 0.2s;
}
.ranking__time-btn::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  width: 100%;
  height: 0.1rem;
  transform: translateX(-50%);
  background-color: #ccc;
}
.ranking__list {
  padding: 1.6rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-block-start: 0.5rem;
  height: 100%;
}
.ranking__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
}
.ranking__index {
  color: #b3b3b3;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  margin-inline-end: 2rem;
}
.ranking__username {
  font-size: 2.4rem;
  color: #777;
}

.inspect__section {
  position: relative;
  border-radius: 1.1rem;
  background-color: #f0f0f0;
  height: 100%;
}

.send-comment {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.send-comment__form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  height: 4.5rem;
}
.send-comment__textbox {
  border-bottom-left-radius: 1.1rem;
  padding-inline: 1.2rem;
  background-color: #cccccc;
}
.send-comment__btn {
  display: grid;
  place-items: center;
  background-color: #4e1c60;
  color: #fafafa;
  border-bottom-right-radius: 1.1rem;
  transition: background-color 0.2s ease;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.send-comment__btn:hover {
  background-color: #5a2a76;
}
.send-comment input {
  outline: none;
  border: none;
}

.idea-container {
  max-height: calc(100% - 4.5rem);
  overflow-y: scroll;
}
@media only screen and (max-width: 81.25em) {
  .idea-container {
    max-height: calc(66vh - 4.5rem);
  }
}

main.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block-start: 0;
}

.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  column-gap: 16rem;
  row-gap: 3.2rem;
  backface-visibility: hidden;
  padding: 4rem;
}
.auth__forget-password {
  color: #fafafa;
  text-decoration: underline;
}
.auth-mobile {
  display: none;
}
.auth__title {
  grid-row: 1;
  grid-column: 1;
}
.auth__heading {
  font-size: 5.6rem;
  font-weight: 400;
  color: #4e1c60;
}
.auth-box {
  position: relative;
  padding-inline: 4rem;
  padding-block: 3rem;
  background-color: #5a2a76;
  color: #fafafa;
  border-radius: 1.1rem;
}
.auth-box__heading-tertiary {
  font-size: 3.2rem;
  letter-spacing: 0.75px;
  font-weight: 400;
  margin-block-end: 2rem;
}
.auth-box__input-box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.auth-box__label {
  opacity: 0.75;
  letter-spacing: 0.75px;
  font-size: 2rem;
  font-weight: 400;
}
.auth-box__input {
  background-color: #fafafa;
  outline: none;
  border: none;
  border-radius: 0.64rem;
  max-width: 90%;
  padding-inline: 1.2rem;
  padding-block: 0.9rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease;
  color: #222;
}
.auth-box__input-checkbox {
  accent-color: #fafafa;
}
.auth-box__checkbox-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  grid-column: 1;
}
.auth-box__checkbox-box :is(*, *:before, *:after) {
  cursor: pointer;
}
.auth-box__checkbox-label {
  font-size: 1.6rem;
}
.auth__politics-btn {
  color: #fafafa;
  text-decoration: underline;
}
.auth__description {
  font-size: 3.2rem;
  font-weight: 400;
  color: #4e1c60;
  opacity: 0.5;
}

.register-box {
  grid-row: span 2;
  grid-column: 2;
  overflow: hidden;
}
.register-box__form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  overflow: hidden;
}

.login-box {
  grid-row: 2;
  grid-column: 1;
}
.login-box__form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  overflow: hidden;
}

.bottom-box {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
