/* Error: $map: (.auth-box__input-box,) spacings is not a map.
 *    ,
 * 50 |       gap: calc(map-get(&spacings, xs) / 3);
 *    |                 ^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\sass\pages\_login.scss 50:17  @import
 *   src\sass\main.scss 51:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $map: (.auth-box__input-box,) spacings is not a map.\a    \2577 \a 50 \2502        gap: calc(map-get(&spacings, xs) / 3);\d\a    \2502                  ^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\sass\\pages\\_login.scss 50:17  @import\a   src\\sass\\main.scss 51:9           root stylesheet";
}
